body {
	background-color: #e9e9e9;
}
.conteudo {
	width: 100%;
	text-align: center;
	margin: 5% auto;
}

.conteudo .msg .error-code {
	font-size: 160px;
}

.conteudo .msg .error-message {
	font-size: 20px;
	color: #333;
	font-weight: bold;
	margin-top: -40px;
}

.conteudo .msg .button-place {
	margin-top: 32px;
}

.conteudo .msg .button-place .btn-custom {
	background-color: #fff;
	border-radius: 2px;
	border: none;
	font-size: 20px;
	text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    color: black;
}